
<center>
  <div class="page-header">
    <h1>Leaderboard <small>Highest Scores</small></h1>
  </div>

  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="head-field">#</th>
          <th class="head-field">User</th>
          <th class="head-field">Highest Score</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <th class="index-row"><%= index + 1 %></th>
            <td class="index-field"><%= user.email.split('@')[0]%></td>
            <td class="index-field"><%= user.high_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</center>
